<!DOCTYPE html> {% load static %}

<html lang="en">

<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        
        .footer {
            margin-top: auto;
            display: inline-block;
            padding-top: 5rem;
        }
        
        p {
            margin: 0;
            padding: 0;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Student-dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">Teacher portal</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home">Home</a>
                        </li>
                        {% if user.is_authenticated %}


                        <li class="nav-item">
                            <a class="nav-link" href=" ">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Login
                            </a>


                        </div>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br /><br />
    <main>

        {% if messages %} {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">{{msg}}</div>

        {% endfor %} {% endif %} {% block content %} {% endblock content %}





    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>



</body>
<footer class="footer">
    <!-- <div class="jumbotron jumbotron-fluid p-3 mb-2 bg-secondary text-white"> -->

    <div class="text-center p-3  bg-secondary text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Ajit kumar
        <hr>
        <a href="https://github.com/ajit202120044?tab=repositories">Github</a>
        <a href="https://www.linkedin.com/in/ajit-kumar-11773819a/"> |
        Linkedin</a>
    </div>

    <!-- </div> -->

</footer>

</html>