{% extends 'dashboard/base.html' %}
{% block title %}
<div class ="container p-5">
 <h2 clas  = "font-weight-bold mt-3">Reset your password</h2>
{% endblock %}
{% block content %}
<section class = "container-text-center">
<h1>Forgotten your password?</h1>
<p class="text-justify lead font-weight-bold mt-3">Enter your e-mail address to obtain a new password.</p>
</section>
<form class = "form-group" action="." method="post">
 {% csrf_token %}
{{ form.as_p }}
 <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

   <button class ="btn btn-primary" type = "submit"> send email</button>
 {% csrf_token %}
</form>{% endblock %}